@import url('https://fonts.googleapis.com/css2?family=Young+Serif&display=swap');


* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
   display: flex;
   flex-direction: column;
    font-family: "Young Serif", serif;
    background-color: hsl(30, 54%, 90%);
    min-height: 100vh;
    box-sizing: border-box;
    justify-content: center;
   
}

.omelette-pic {
    margin: 0 auto;
    text-align: center;
    padding: 5px;
}

.omelette-pic img {
    height: auto;
    width: 100%;
    border-radius: 20px;
    object-fit: cover;
     
}

.container {
    width: 50%;
    background-color:#FFFFFF ;
    margin: 0 auto;
    padding: 35px;
    margin-top: 70px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    
}

ul, li, .nutrition, .description {
    color:rgba(0, 0, 0, 0.5)
}

h1 {
    font-weight: 700;
    margin-top: 10px;
    margin-bottom: 10px;
}
.description {
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 10px;
    
}

.prep-time {
    background-color:#FFF7FC ;
    padding: 20px;
    border-radius: 10px;
    padding-bottom: 2px;
    margin-bottom: 20px;
}

.prep-list {
   padding: 20px;
   margin-left: 30px;
   background-color: #FFF7FC;
}

h3, .prep-list li::marker{
    color: hsl(332, 51%, 32%)
}

ul, .prep-list li{
padding-left: 23px;
margin-bottom: 10px;
}

h2,  .ingredient-list li::marker{
    color: hsl(14, 45%, 36%);
}

li::marker {
    font-size: 12px;
}

.ingredient{
    margin-top: 30px;
    margin-bottom: 20px;
}

.title{
    margin-bottom: 10px;
}

.ingredient-list {
    padding: 20px;
  
}

.ingredient-list li, .instructions li {
    margin-bottom: 10px;
}

.instructions h2{
    margin-bottom: 20px;
}

.instructions {
    margin-top: 30px;
    margin-bottom: 30px;
    
}

.instructions ol {
    padding-left: 30px;
  
}

.instructions li::marker {
    color: hsl(14, 45%, 36%);
    font-size: 15px;
    font-weight: bold;
     
}

.instructions li {
    text-indent: 10px;
}

.nutrition {
    margin-top: 30px;
    margin-bottom: 30px;
}

.nutrition h2 {
    margin-bottom: 20px;
}
.nutrition-list {
    padding: 20px;
    
}

.nutrition-list strong {
    margin-left: 150px;
    
    padding: 10px ;
    padding-bottom: 0;
    color: hsl(332, 51%, 32%);
    font-weight: 600;
    margin-bottom: 10px;
    text-align: center;
    display:inline-flex;
    
}

.nutrition-list p {
    margin-top: 20px;
    margin-bottom: 0; 
    display: inline;
    
}
.attribution {
    text-align: center;
    margin-top: 20px;
    
}
a {
    color: hsl(332, 51%, 32%);
    text-decoration: none;
}
a:hover {
    color: hsl(332, 38%, 66%);
    text-decoration: underline;
}

@media (max-width: 375px) {
    .container {
        width: 80%;
        padding: 30px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }
    
  
         
    
}